{% extends 'base.html.twig' %}

{% block title %}Hello AddController!{% endblock %}

{% block body %}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}
    {{ form_start(addComic) }}
        {{ form_row(addComic.title) }}
        {{ form_row(addComic.filename) }}
        <input type="submit" value="Wyślij" class="form-control btn btn-success w-50 align-self-center" />
    {{ form_end(addComic) }}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
